/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/ci4/public/assets
/ci4/vendor
/ci4/writable
/lara8/bootstrap
/lara8/public
/lara8/public/storage
/lara8/storage
/lara8/vendor



